# Emacs temp files
*~

# Object files
*.o
*.a

# Keep .in files
! *.in

# Binaries
Splash-4/barnes/BARNES
Splash-4/cholesky/CHOLESKY
Splash-4/fft/FFT
Splash-4/fmm/FMM
Splash-4/lu-contiguous_blocks/LU-CONT
Splash-4/lu-non_contiguous_blocks/LU-NOCONT
Splash-4/ocean-contiguous_partitions/OCEAN-CONT
Splash-4/ocean-non_contiguous_partitions/OCEAN-NOCONT
Splash-4/radiosity/RADIOSITY
Splash-4/radix/RADIX
Splash-4/raytrace/RAYTRACE
Splash-4/volrend/VOLREND
Splash-4/volrend-no_print_lock/VOLREND-NPL
Splash-4/water-nsquared/WATER-NSQUARED
Splash-4/water-spatial/WATER-SPATIAL

# Intermediate
Splash-4/volrend/libtiff/g3states.h
Splash-4/volrend/libtiff/mkg3states
